<!-- service section design -->
<section class="service" id="service">
  <h2 class="heading">Our <span>Services</span></h2>

  <div class="service-container">
      <div class="service-box">
         <img src="/assets/images/electrician.png" alt="">
          <h3>Electrician</h3>
          <h3></h3>
          <p></p>    
          <!-- <a href="#" class="btn">Read More</a> -->
      </div>

      <div class="service-box">
        <img src="/assets/images/plumber.jpg" alt="">
          <h3>Plumber</h3>
          <h3></h3>
          <p></p>
          <!-- <a href="#" class="btn">Comming soon</a> -->
      </div>

      <div class="service-box">
        <img src="/assets/images/carpenter.jpg" alt="">
          <h3>Carpenter</h3>
          <h3></h3>
          <p></p>
          <!-- <a href="#" class="btn">Comming soon</a> -->
      </div>
      <div class="service-box">
        <img src="/assets/images/painter.webp" alt="">
          <h3>Painter</h3>
          <h3></h3>
          <p></p>
          <!-- <a href="#" class="btn">Comming soon</a> -->
      </div>
  </div>
</section>

